/* .string-sub-tool{
    border: 1px black solid;
} */


.form-button{
    margin-top: 1rem; 
}

.inline{
    display: inline-block;
}

.output{
    animation: 1.0s ease-out 0s 1 onUpdate; 
    transition: 0.2ms all ease-out;
}

@keyframes onUpdate{
    0%{
        background-color: gray;
    }
    100%{
        background-color: white; 
    }

}